/* admin.css */
body {
  font-family: 'Inter', sans-serif;
}

aside {
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
}

main {
  background-color: #f0f4ff; /* light blue-ish content area */
  border-radius: 0.5rem;
}


.admin-link {
  color: #1e40af;
  text-decoration: none; /* removes underline */
}

.admin-link:hover {
  color: #2563eb; /* optional hover color */
}
